/* header---------------------------------------------- */
div#header {
    font-weight: bold; 
    color:white;
}
a#site_title{
    font-size: 2rem;
}
#header-menu li{
    font-size: 15px;
}

/* aside---------------------------------------------- */
div#aside {
    font-weight: bold; 
    font-size: 15px;
    color:white;
}

/* article---------------------------------------------- */

/* footer---------------------------------------------- */
div#footer {
    font-size: 20px;
    color:white;
}